
/* Colours */
nav, nav.brand-logo, .side-nav li>a  {
     color: lightgray;
}

h1 {
    color:lightgray;
}



/* Elements */

  body {
      background-color: rgb(238, 236, 236);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    font-family: 'Cinzel', serif;
  }

nav, .page-footer, .side-nav{
    background-color: black;
}



/* Jumbotron */
.loadAnimation{
    color:black;
    height: 100vh;
    background-color: black;
}

.animatedWord{
    padding: 2rem;
    margin: 0;
    color: black;
}

.box {
  width: 100%;
  height: 100%;
  display:block;
  background-size: 200% 200%;
  transition: background-position 0.75s;
}

.to-right{
  background-image: linear-gradient(to right, lightgray 50%, black 0);
  background-position: right;
}


.to-left{
  background-image: linear-gradient(to left, lightgray 50%, black 0);
  background-position: left;
}


.fade-in {
  animation: fadeIn ease 1s forwards;
  -webkit-animation: fadeIn ease 1s forwards;
  -moz-animation: fadeIn ease 1s forwards;
  -o-animation: fadeIn ease 1s forwards;
  -ms-animation: fadeIn ease 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.wordOne{
    background-color: black;
}


  main {
    flex: 1 0 auto;
  }

/* Loaded header section */

#loadedHeader, #info{
    display: none;
}

.loadedHeadingWords{
    display: inline-block;
    color: black;
}

#id{
    height: 80vh;
}

/* Footer */

.socialIcons{
      display: inline;
  }

  .page-footer{
    text-align: center;
    padding: 10px 0 20px 0;
}

.page-footer .footer-copyright{
    padding: 15px 0 0 0;
    min-height: 30px;
}
.copyright, p, .row{
    margin: 0;
}